*{
    margin: 0;
    padding: 0;
}

span{
    display: inline-block;
    padding: 20px;
    color: white;
    font-size: 20px;
}
body{
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: radial-gradient(#010e18, #151b52); */
    background: radial-gradient(ellipse at top, black, transparent),
            radial-gradient(ellipse at bottom, gray, transparent);
    background-repeat: no-repeat;
}

h1{
    color: white;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.title{
    text-align: center;
}
.form_area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.location_field{
   width: 30%;
    padding: 10px 40px 10px 10px;
    color: rgb(49, 43, 43);
    background: #e3c9c9;
    border-radius: 5px;
    font-size: 20px;
}

.get_weather_btn{
    padding:10px 20px;
background: rgb(77, 77, 237);
    color:whitesmoke;
    font-size: 16px;
    
    border-radius:10px;
}
.get_weather_btn:hover{
    padding:10px 25px;
    transition: 300ms;
background: rgba(35, 35, 153, 0.878);
    color:white;
    cursor: pointer;
    
    border-radius:10px;
}